<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PiMusicPlayerTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

    <add key="FormWidth" value="400" />
    <add key="FormHeight" value="520" />
    <add key="WaitTicksOnAutoPopup" value="100" />
    
    <add key="HotkeyPlayPause" value="CTRL+ALT+K"  />
    <add key="HotkeyStop" value="CTRL+ALT+N"  />
    <add key="HotkeyNext" value="CTRL+ALT+M"  />
    <add key="HotkeyPrevious" value="CTRL+ALT+I"  />
    <add key="HotkeyVolumeUp" value="CTRL+ALT+O"  />
    <add key="HotkeyVolumeDown" value="CTRL+ALT+L"  />
    <add key="HotkeyRefresh" value="CTRL+ALT+F5"  />
    <add key="HotkeyShow" value="CTRL+ALT+U"  />

    <add key="PopupChange" value ="true" />
    
    <add key="Version" value="2"/>
    <add key="PlayerUrl" value="http://localhost:5000/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PiMusicPlayerTray.Properties.Settings>
            <setting name="Volume" serializeAs="String">
                <value>10</value>
            </setting>
        </PiMusicPlayerTray.Properties.Settings>
    </userSettings>
</configuration>